## Taller 3 - Estadística

En una universidad encuestaron estudiantes para recolectar informaci ́on de las siguientes variables: GENERO, ESTATURA en cent ́ımetros, MASA en kilogramos, HORAS que es el tiempo que dedica fuera de clase a estudiar semanalmente, EDAD en a ̃nos, TIEMPO lo que tarda normalmente en transportarse de su residencia a la universidad en minutos, PROM promedio general que lleva en la carrera, VMATRI el valor de la  ́ultima matrícula que pagó, ESTRATO y TRAB.

In [4]:
import pandas as pd

BDTaller3 = pd.read_excel("C:\\Users\\DanielGP\\OneDrive - Caja de Compensacion Familiar de Antioquia COMFAMA\\Tendencias\\Personal\\Especialización\\Materias\\Estadística\\Base Taller 3 EAE 2025 2.xlsx")

BDTaller3.head()

   GENERO  ESTATURA  MASA  HORAS  EDAD  TIEMPO  PROM  VMATRI  ESTRATO TRAB
0   MUJER     155.6  64.0     38  20.8    21.8   4.1  1734.0        4   NO
1   MUJER     153.6  67.4     36  19.0    31.2   3.9   835.8        3   SI
2   MUJER     168.4  62.3     40  20.6    51.7   3.5   127.5        1   NO
3   MUJER     180.9  84.2     42  19.3    34.1   4.2  1659.0        4   NO
4  HOMBRE     165.3  64.1     28  27.8     7.2   3.2   915.6        3   NO

In [5]:
BDTaller3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   GENERO    90 non-null     object
 1   ESTATURA  90 non-null     float64
 2   MASA      90 non-null     float64
 3   HORAS     90 non-null     int64
 4   EDAD      90 non-null     float64
 5   TIEMPO    90 non-null     float64
 6   PROM      90 non-null     float64
 7   VMATRI    90 non-null     float64
 8   ESTRATO   90 non-null     int64
 9   TRAB      90 non-null     object
dtypes: float64(6), int64(2), object(2)
memory usage: 7.2+ KB

In [6]:
BDTaller3.describe()

,ESTATURA,MASA,HORAS,EDAD,TIEMPO,PROM,VMATRI,ESTRATO
count,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000
mean,168.111111,66.242222,33.655556,21.398889,25.978889,3.748889,1185.463333,3.322222
std,9.822863,10.307824,7.888494,3.194430,20.435965,0.300653,807.499669,1.296736
min,143.400000,41.900000,14.000000,16.600000,2.200000,3.000000,54.300000,1.000000
25%,162.300000,61.150000,29.000000,19.200000,8.775000,3.500000,799.650000,3.000000
50%,166.400000,67.900000,35.000000,21.100000,21.450000,3.700000,982.200000,3.000000
75%,174.725000,73.925000,37.750000,23.300000,38.825000,4.000000,1553.325000,4.000000
max,192.600000,84.200000,60.000000,29.700000,85.200000,4.500000,3350.700000,6.000000

In [ ]:
# 1) Evaluar mediante una prueba de hipotesis si puede afirmarse que el resultado medio
#de la masa de la poblacion de estudiantes es minimo de 66 kilogramos? justifique su respuesta con un nivel de significancia del 5 %.

In [ ]:
# 2) Evaluar mediante una prueba de hipotesis si puede afirmarse que la proporcion de
# de estrato minimo 4 es maximo 0.3? justifique su respuesta con un nivel de significancia del 4 %.

In [ ]:
# 3) Evaluar mediante una prueba de hipotesis si puede afirmarse que los estudiantes que no trabajan dedican 
# en promedio al menos 20 minutos más en transportarse de su residencia a la universidad que los estudiantes que trabajan? 
# justifique su respuesta con un nivel de significancia del 3 %.

In [ ]:
# 4) ¿Se puede afirmar que la proporción de estudiantes hombres es superior a la proporción de mujeres 
# esta universidad?, justifique su respuesta con un nivel de significancia del 6 %.